.contacts__wrapper {
  width: 280px;
  display: flex;
  padding: 27px 20px 25px;
  margin: 0 auto;
}

.contacts {
  background-color: #f2f2f2;
}

.index-page .contacts {
  background-color: #ffffff;
}

.contacts__heading {
  width: 140px;
  margin: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
}

.contacts__adress {
  display: block;
  width: 140px;
  margin: 0;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
}

.contacts__city {
  display: block;
}

.contacts__map {
  width: 100%;
  height: 362px;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  background-position: center 0;
  background-size: cover;
  border: none;
  margin-bottom: -4px;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .contacts__map {
    background-image: url("../img/bg-map-mobile@2x.png");
    background-size: cover;
  }
}

@media (min-width: 768px) {
  .contacts__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 67px 30px 59px;
    justify-content: space-between;
  }

  .contacts__adress {
    width: 282px;
    padding-right: 42px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .contacts__heading {
    width: 180px;
    padding-left: 42px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 400;
    color: #111111;
  }

  .contacts__city {
    padding-top: 20px;
  }

  .contacts__map {
    height: 400px;
    background-image: url("../img/bg-map-tablet@1x.png");
    background-size: cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-tablet@2x.png");
      background-size: cover;
    }
  }
}

@media (min-width: 1440px) {
  .contacts {
    position: relative;
  }

  .contacts__container {
    position: relative;
    width: 1220px;
    margin: 0 auto;
    padding: 0 110px;
  }

  .contacts__wrapper {
    position: absolute;
    top: 95px;
    left: 110px;
    width: 418px;
    padding: 65px 76px 53px 76px;
    background-color: #ffffff;
  }

  .contacts__heading {
    width: 169px;
    padding-left: 0;
  }

  .contacts__adress {
    width: 169px;
    padding-right: 0;
    text-align: left;
  }

  .contacts__map {
    background-image: url("../img/bg-map-desktop@1x.png");
    background-size: cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .contacts__map {
      background-image: url("../img/bg-map-desktop@2x.png");
      background-size: cover;
    }
  }
}
