.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 20px 20px 30px;
}

.example__heading {
  margin: 0 0 20px 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.example__description {
  margin: 0 0 27px 0;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.example__list {
  @include reset ();
  display: flex;
  justify-content: space-between;
  margin-bottom: 33px;
}

.example__item {
  position: relative;
}

.example__value {
  margin: 0;
  width: 122px;
  padding-top: 15px;
  padding-bottom: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__value-description {
  position: absolute;
  bottom: -20px;
  left: 18px;
  display: block;
  width: 67px;
  padding: 5px 10px;
  margin: 0;
  background-color: #f2f2f2;
  font-family: "Arial", sans-serif;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
}

.example__price {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

.example__results {
  display: flex;
  padding-top: 309px;
}

.example_range-wrapper {
  display: flex;
  margin: 0 auto;
  min-height: 16px;

}

.example__range-before {
  display: inline-block;
  min-width: 48px;
  margin: 0 19px 0 0;
  text-align: right;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.example__range {
  padding: 0 2px;
  height: 12px;
  background-color: #ffffff;
}

.example__range-after {
  display: inline-block;
  min-width: 48px;
  margin: 0 0 0 18px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

input[type=range] {
  -webkit-appearance: none;
  width: 77px;
  height: 12px;
  background-color: #fffff;
  border: 1px solid #cdcdcd;
  border-radius: 6px;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
}

input[type=range]::-ms-track {
  width: 84px;
  cursor: pointer;
  background: #ffffff;
  border: 1px solid #cdcdcd;;
  color: transparent;
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 6px;
  width: 35px;
  border-radius: 6px;
  background: #68b738;
  cursor: pointer;
}

input[type=range]::-moz-range-thumb {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
  height: 34px;
  width: 34px;
  border-radius: 6px;
  background: #68b738;
  cursor: pointer;
}

input[type=range]::-ms-thumb {
  box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);

  height: 6px;
  width: 36px;
  border-radius: 50%;
  background: #68b738;
  cursor: pointer;
}

@media (min-width: 768px) {

  *{
  outline: 1px solid red;
  }
  .example {
    margin-top: -33px;
    background-color: #ffffff;
    background-image: linear-gradient(transparent 50%, #f2f2f2 50%);
  }

  .example__heading {
    padding: 48px 0 65px;
    margin-bottom: 0;
    background-color: #ffffff;
    font-size: 60px;
    font-weight: 400;
  }

  .example__wrapper {
    width: 708px;
    mardin: 0 auto;
    padding: 0 30px;
  }

  input[type=range] {
    -webkit-appearance: none;
    width: 428px;
    height: 4px;
    margin-top: 7px;
    border-radius: 6px;
    background-color: #dcdcdc;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
  }

  input[type=range]:focus {
    outline: none;
  }

  input[type=range]::-ms-track {
    width: 428px;
    border-radius: 6px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }

  input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 13px solid #ffffff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: #68b738;
    cursor: pointer;

    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    &:hover {
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0px 2px 5px 2px rgba(104, 183, 56, 0.9);
    }
  }

  input[type=range]::-moz-range-thumb {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 13px solid #ffffff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: #68b738;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0px 2px 5px 2px rgba(104, 183, 56, 0.9);
    }
  }

  input[type=range]::-ms-thumb {
    box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.15);
    border: 13px solid #ffffff;
    height: 34px;
    width: 34px;
    border-radius: 50%;
    background: #68b738;
    cursor: pointer;
    &:hover {
      box-shadow: 0px 2px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      box-shadow: 0px 2px 5px 2px rgba(104, 183, 56, 0.9);
    }
  }

    .example__story {
      margin-bottom: 220px;
    }

    .example__columns {
      padding: 0 0 54px;
    }

  .example__description {
    padding-right: 20px;
    margin-bottom: 52px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__value {
    width: 159px;
    padding-bottom: 18px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__value-description {
    bottom: -6px;
    width: 130px;
    padding: 0;
    background: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }

  .example__list {
    width: 365px;
  }

  .example__list-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .example__price {
    width: 200px;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-align: right;
  }

  .example__price-value {
    display: block;
    padding-top: 10px;
    font-weight: 500;
  }

  .example__results {
    padding: 369px 0 0;
  }

  .example_range-wrapper {
    min-height: 40px;
  }

  .example__range-before {
    min-width: 48px;
    font-size: 20px;
    height: 25px;
    border-bottom: 1px dotted #ffffff;
  }

  .example__range-after {
    min-width: 48px;
    font-size: 20px;
    height: 25px;
    border-bottom: 1px dotted #ffffff;
  }

  .example__image {
    width: 464px;
    height: 499px;
  }
}

@media (min-width: 1440px) {
  .example {
    margin-top: 0;
    background-image: linear-gradient(transparent 20%, #f2f2f2 20%);
  }

  .example__wrapper {
    width: 1220px;
    padding: 0 110px 0 110px;
    margin: 0 auto;
  }

  .example__heading {
    padding: 0;
    margin-bottom: 69px;
    background-color: #ffffff;
  }

  .example__description {
    margin-bottom: 65px;
  }

  .example__columns {
    padding: 0;
    display: flex;
    justify-content: space-between;
  }

  .example__story {
    width: 450px;
    margin-bottom: 0;
    padding-top: 78px;
    padding-bottom: 72px;
  }

  .example__list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .example__list {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .example__item {
    margin-right: 43px;
  }

  .example__value {
    padding-top: 20px;
  }

  .example__price {
    width: 100%;
    margin-left: 0;
    text-align: left;
  }

  .example__price-value {
    display: inline-block;
    padding-top: 0;
    margin-left: 57px;
  }

  .example__value-description {
    background-color: #eaeaea;
  }

  .example__results {
    padding: 374px 0 55px 68px;
  }

  .example_range-wrapper {
    margin-top: auto;
    margin-left: auto;
  }
}
