.example {
  background-color: #f2f2f2;
}

.example__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 20px 20px 30px;
}

.example__heading {
  margin: 0 0 20px 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 500;
  color: #111111;
}

.example__description {
  margin: 0 0 25px 0;
  font-family: Arial;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
}

.example__list {
  @include reset ();
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

.example__item {
  position: relative;
}

.example__value {
  margin: 0;
  width: 122px;
  padding-top: 17px;
  padding-bottom: 17px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
  border: 1px solid #cdcdcd;
  border-radius: 2px;
}

.example__value-description {
  position: absolute;
  bottom: -20px;
  left: 18px;
  display: block;
  width: 67px;
  padding: 5px 10px;
  margin: 0;
  background-color: #f2f2f2;
  font-family: Arial;
  text-align: center;
  font-size: 12px;
  line-height: 12px;
  font-weight: 400;
  color: #444444;
}

.example__price {
  margin: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
  text-align: center;
}

.example__results {
  display: flex;
  padding-top:309px;
}

.example_range-wrapper {
  display: flex;
  min-height: 16px;
}

.example__range-before {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.example__range-after {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

@media (min-width: 768px) {
  .example {
    margin-top: -30px;
    background-color: #ffffff;
    background-image: linear-gradient(transparent 50%, #f2f2f2 50%);
  }

  .example__heading {
    padding: 48px 0 58px;
    margin-bottom: 0;
    background-color: #ffffff;
  }

  .example__wrapper {
    width: 708px;
    mardin: 0 auto;
    padding: 0 30px;
  }

  .example__story {
    margin-bottom: 220px;
  }

  .example__heading {
    font-size: 60px;
    font-weight: 400;
  }

  .example__columns {
    padding: 0 0 54px;
  }

  .example__description {
    margin-bottom: 56px;
    font-size: 16px;
    line-height: 24px;
  }

  .example__value {
    width: 160px;
    font-size: 30px;
    line-height: 37px;
  }

  .example__value-description {
    bottom: -6px;
    width: 130px;
    padding: 0 0px;
    background: #ffffff;
    font-size: 14px;
    line-height: 14px;
  }

  .example__list {
    width: 368px;
  }

  .example__list-wrapper {
    display: flex;
  }

  .example__price {
    margin-left: auto;
    padding-top: 10px;
    font-size: 20px;
    line-height: 20px;
    text-align: right;
  }

  .example__price-value {
    display: block;
    padding-top: 10px;
    }

  .example__results {
    padding: 369px 70px 0;
  }

  .example_range-wrapper {
    width: 570px;
    min-height: 40px;
  }

  .example__range {
    flex-grow: 1;
  }

  .example__image {
    width:464px;
    height: 499px;
  }
}

@media (min-width: 1220px) {
  .example {
    margin-top: 0;
    background-image: linear-gradient(transparent 20%, #f2f2f2 20%);
  }

  .example__wrapper {
    width: 1220px;
    padding: 0 110px 0 110px;
    margin: 0 auto;
  }

  .example__heading {
    padding: 0px;
    margin-bottom: 69px;
    background-color: #ffffff;
  }

  .example__description {
    margin-bottom: 65px;
  }

  .example__columns {
    padding: 0;
  }

  .example__story {
    width: 450px;
    margin-bottom: 0;
    padding-top: 78px;
    padding-bottom: 72px;
  }

  .example__list-wrapper {
    display: flex;
    flex-wrap: wrap;
  }

  .example__list {
    margin-right: 0;
    margin-bottom: 50px;
  }

  .example__item {
    margin-right: 43px;
  }

  .example__price {
    margin-left: 0;
  }

  .example__price-value {
    display: inline-block;
    padding-top: 0;
    margin-left: 50px;
  }

  .example__value-description {
    background-color: #eaeaea;
  }

  .example__columns {
    display: flex;
    justify-content: space-between;
  }

  .example__results {
    padding-bottom: 60px;
  }

  .example_range-wrapper {
    margin-top: auto;
    margin-left: auto;
  }

  .example__results {
    padding: 369px 0 70px 70px;
  }
}
