.extra {
  padding: 30px 0 35px;
}

.extra__wrapper {
  padding: 0 20px;
}

.extra__heading {
  margin: 0;
  padding-bottom: 30px;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  border-bottom: 1px solid #ededed;
}

.extra__list {
  @include reset ();
  margin-bottom: 39px;
}

.extra__title {
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.extra__description {
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
  font-family: Arial;
}

.extra__parametr {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.extra__value {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.extra__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ededed;
}

.extra__promo {
  padding-top: 187px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 0 0;
}

.extra__promo-text {
  margin: 0;
  font-family: Arial;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .extra {
    margin-top: -53px;
    margin-bottom: 76px;
    padding-top: 0;
    padding-bottom: 0;
    border-top: 3px solid #68b738;
  }

  .extra__wrapper {
    padding: 0 30px;
  }

  .extra__heading {
    display: inline-block;
    padding: 0 34px 0;
    margin-bottom: 81px;
    margin-top: -27px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    vertical-align: middle;
  }

  .extra__list {
    border: 1px solid #d9d9d9;
    margin-bottom: 69px;
  }

  .extra__item {
    padding: 27px 37px;
  }

  .extra__item-column {
    display: flex;
    justify-content: space-between;
  }

  .extra__title {
    font-size: 20px;
    line-height: 20px;
  }

  .extra__description {
    margin-bottom: 0;
  }

  .extra__parametr {
    width: 192px;
    margin-right: 15px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .extra__value {
    width: 80px;
    text-align: right;
    font-size: 16px;
    line-height: 20px;
  }

  .extra__title {
    margin:0;
  }

  .extra__item-column {
    margin-bottom: 27px;
  }

  .extra__promo {
    padding: 73px 123px 67px 424px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 0 0;
    background-size: cover;
  }


  .extra__promo-text {
  text-align: left;
  }
}
