.extra {
  padding: 28px 0 35px;
}

.extra__heading {
  display: inline-block;
  position: relative;
  margin: 0;
  padding: 0 24px 33px 0;
  background-color: #ffffff;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  color: #111111;
  border-bottom: 1px solid #ededed;

  &::before {
    content: "";
    position: absolute;
    top: 13px;
    left: 0;
    z-index: -1;
    height: 3px;
    width: 300px;
    background-color: #68b738;
  }
}

.extra__list {
  @include reset ();
  margin-bottom: 39px;
}

.extra__title {
  margin: 0 0 14px;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #222222;
  text-transform: uppercase;
}

.extra__description {
  display: flex;
  justify-content: space-between;
  margin: 0 0 14px;
  font-family: "Arial", "Tahoma", sans-serif;
}

.extra__parametr {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
}

.extra__value {
  margin: 0;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
}

.extra__link {
  font-size: 16px;
  line-height: 20px;
}

.extra__item {
  padding-top: 13px;
  padding-bottom: 17px;
  border-bottom: 1px solid #ededed;

  &:first-child {
    border-top: 1px solid #ededed;
  }
}

.extra__promo {
  position: relative;
  padding: 187px 40px 42px 40px;
  background: url("../img/gift-photo-mobile@1x.jpg") no-repeat 0 0 #68b738;
  background-size: cover;
}

.extra__promo::before {
  content: "";
  position: absolute;
  top: 65px;
  left: 113px;
  width: 56px;
  height: 61px;
  background: url("../img/icon-gift.svg") 0 0 no-repeat;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .extra__promo {
    background: url("../img/gift-photo-mobile@2x.jpg") #68b738;
    background-size: cover;
  }
}

.extra__promo-text {
  margin: 0;
  font-family: "Arial", "Tahoma", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #ffffff;
  text-align: center;
}

@media (min-width: 768px) {
  .extra {
    margin-top: -75px;
    margin-bottom: 112px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .extra__heading {
    display: inline-block;
    position: relative;
    padding: 0 37px 0 37px;
    margin-bottom: 80px;
    background-color: #ffffff;
    font-size: 36px;
    line-height: 36px;
    vertical-align: middle;
    border: none;

    &::before {
      top: 22px;
      left: -30px;
      width: 768px;
    }
  }

  .extra__list {
    border: 1px solid #d9d9d9;
    margin-bottom: 69px;
  }

  .extra__item {
    padding: 27px 37px;
  }

  .extra__item-column {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  .extra__title {
    font-size: 20px;
    line-height: 20px;
    margin: 0;
  }

  .extra__description {
    margin-bottom: 0;
    align-items: flex-end;
  }

  .extra__parametr {
    width: 192px;
    margin-right: 15px;
    text-align: right;
    font-size: 16px;
    line-height: 18px;
  }

  .extra__value {
    width: 80px;
    text-align: right;
    font-size: 16px;
    line-height: 18px;
  }

  .extra__promo {
    padding: 73px 123px 67px 424px;
    background: url("../img/gift-photo-tablet@1x.jpg") no-repeat 0 0 #68b738;
    background-size: cover;
  }

  .extra__promo::before {
    top: 62px;
    left: 90px;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .extra__promo {
      background: url("../img/gift-photo-tablet@2x.jpg") #68b738;
      background-size: cover;
    }
  }

  .extra__promo-text {
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .extra {
    margin-top: -78px;
    margin-bottom: 84px;
  }

  .extra__heading {
    padding: 0 37px 0 37px;
    margin: 0 0 82px -40px;

    &::before {
      left: -70px;
      width: 1440px;
    }
  }

  .extra__columns {
    display: flex;
    justify-content: space-between;
  }

  .extra__list {
    margin-bottom: 0;
    border: none;
  }

  .extra__item {
    display: flex;
    justify-content: space-between;
    width: 895px;
    padding: 16px 0;
  }

  .extra__item-column {
    width: 610px;
    align-items: center;
    margin: 0;
  }

  .extra__title {
    width: 285px;
  }

  .extra__description {
    width: 285px;
  }

  .extra__parametr {
    text-align: left;
  }

  .extra__link {
    width: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .extra__promo {
    width: 163px;
    padding: 188px 40px 20px;
    background: url("../img/gift-photo-desktop@1x.jpg") no-repeat 0 0 #68b738;
    background-size: cover;
  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .extra__promo {
      background: url("../img/gift-photo-tablet@2x.jpg") #68b738;
      background-size: cover;
    }
  }

  .extra__promo-text {
    text-align: center;
  }
}
