.how-work {
  margin-bottom: 38px;
}

.how-work__heading {
  margin: 0 0 23px 0;
  font-size: 36px;
  line-height: 60px;
  font-weight: 400;
  color: #111111;
}

.how-work__list {
  @include reset ();
}

.how-work__item {
  position: relative;
  padding-left: 81px;
  font-family: "Arial", "Tahoma", sans-serif;
  margin-bottom: 22px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  z-index: 10;

  &:last-child {
    margin-bottom: 0;
  }
}

.how-work__item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 60px;
  height: 60px;
}

.how-work__item--helthy::before {
  background: url("../img/advantage-leaf@1x.png") center center no-repeat #68b738;
}

.how-work__item--consistence::before {
  background: url("../img/advantage-powder@1x.png") center center no-repeat #68b738;
}

.how-work__item--use::before {
  background: url("../img/advantage-dining@1x.png") center center no-repeat #68b738;
}

.how-work__item--time::before {
  background: url("../img/advantage-clock@1x.png") center center no-repeat #68b738;
}

@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .how-work__item--helthy::before {
    background: url("../img/advantage-leaf@2x.png") center center no-repeat, #68b738;
    background-size: 50px 50px;
  }

  .how-work__item--consistence::before {
    background: url("../img/advantage-powder@2x.png") center center no-repeat, #68b738;
    background-size: 50px 50px;
  }

  .how-work__item--use::before {
    background: url("../img/advantage-dining@2x.png") center center no-repeat, #68b738;
    background-size: 50px 50px;
  }

  .how-work__item--time::before {
    background: url("../img/advantage-clock@2x.png") center center no-repeat, #68b738;
    background-size: 50px 50px;
  }
}

@media (min-width: 768px) {
  .how-work {
    margin-bottom: 0;
    border-bottom: 1px solid #e6e6e6;
  }

  .how-work__heading {
    margin-bottom: 72px;
    font-size: 60px;
    line-height: 60px;
  }

  .how-work__list {
    display: flex;
    flex-wrap: wrap;
  }

  .how-work__item {
    width: 245px;
    padding: 114px 0 43px;
    min-height: 50px;
    margin-right: 138px;
    margin-bottom: 87px;
    font-size: 16px;
    line-height: 24px;

    &:nth-child(2n) {
      margin-right: 0;
    }

    &:last-child {
      margin-bottom: 87px;
    }
  }

  .how-work__item::before {
    width: 80px;
    height: 80px;
  }

  .how-work__item::after {
    content: "";
    position: absolute;
    font-family: "Oswald", "Arial", sans-serif;
    font-size: 281px;
    line-height: 281px;
    font-weight: 400;
    color: #f2f2f2;
    top: -40px;
    right: 15px;
    z-index: -1;
  }

  .how-work__item--helthy::after {
    content: "1";
  }

  .how-work__item--consistence::after {
    content: "2";
    right: 0;
  }

  .how-work__item--use::after {
    content: "3";
    right: -3px;
  }

  .how-work__item--time::after {
    content: "4";
    right: -4px;
  }
}


@media (min-width: 1440px) {
  .how-work {
    border: none;
  }

  .how-work__heading {
    margin-bottom: 70px;
    font-size: 55px;
    font-weight: 500;
  }

  .how-work__item {
    padding: 110px 0 40px;
    margin-right: 80px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
