.logo-letters {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.logo-letters__picture {
  padding-top: 10px;
}

@media (min-width: 768px) {
  .logo-letters {
    width: 128px;
    height: 24px;
  }
}
