.main-header {
  background-color: #ffffff;
}

.main-header__wrapper {
  padding: 0 20px;
}

.main-header__top {
  border-bottom: 1px solid #e6e6e6;
}

.main-header__logo {
  display: block;
  width: 191px;
  height: 38px;
  padding-top: 12px;
  padding-bottom: 15px;
}

@media (min-width:768px) {
  .main-header {
    display: flex;
    justify-content: space-between;
    min-height: 59px;
    padding: 24px 30px 0;
  }

  .main-header__wrapper {
    padding: 0 ;
  }

  .main-header__logo {
    height: 58px;
    width: 173px;
    padding: 0;
  }
}

@media (min-width: 1220px) {
  .main-header {
    padding: 53px 40px 0;
  }

  .main-header__logo {
    height: 59px;
    width: 202px;

  }

}


