.main-footer {
  background-color: #f2f2f2;
}

.main-footer___logo {
  display: block;
  padding: 39px 0 30px 78px;
  height: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.footer__list {
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    padding: 50px 0;
    display: flex;
  }

  .main-footer___logo {
    height: 24px;
    margin-right: 77px;
    padding: 0;
    border: none;
  }

  .footer__list {
    padding-top: 0;
    margin-right: 138px;
    border: none;
  }

  .footer__copyright {
    margin-left: auto;
  }
}

@media (min-width: 1440px) {
  .main-footer__wrapper {
    padding: 60px 0;
  }

  .main-footer___logo {
    height: 24px;
    margin-right: 335px;
  }
}
