.main-catalog__list {
  @include reset ();
}

.main-catalog__item {
  position: relative;
  padding-bottom: 24px;

  &::after {
    content: "";
    position: absolute;
    left: -20px;
    bottom: 0;
    width: 320px;
    height: 1px;
    background-color: #ededed;
  }
}

.main-catalog__box-wrapper {
  display: flex;
}

.main-catalog__item-wrapper {
  width: 140px;
  padding-top: 21px;
}

.main-catalog__img-link {
  width: 140px;
  height: 144px;
}

.main-catalog__title-link {
  display: block;
  width: 80px;
  margin-bottom: 10px;
  text-decoration: none;
}

.main-catalog__description-table {
  width: 100%;
  font-family: "Arial", "Tahoma", sans-serif;
}

.main-catalog__value {
  text-align: right;
}

.main-catalog__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.main-catalog__parametr,
.main-catalog__value {
  width: 66px;
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #444444;
}

.main-catalog__link {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .main-catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-catalog__item {
    display: flex;
    background-color: #f2f2f2;
    margin-right: 58px;
    margin-bottom: 140px;
    padding-bottom: 0;
    text-align: center;

    &::after {
      content: none;
    }

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-catalog__img-link {
    width: 324px;
    margin-bottom: 37px;
    display: flex;
    justify-content: center;
    overflow: hidden;
  }

  .main-catalog__img-link--small {
    width: 324px;
    height: 172px;
    margin-top: -46px;
  }

  .main-catalog__img-link--small img {
    max-width: 324px;
    flex-shrink: 1;
  }

  .main-catalog__img-link--big img {
    max-width: 324px;
  }

  .main-catalog__img-link--big {
    height: 206px;
    margin-top: -80px;
  }

  .main-catalog__box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 249px;
    padding: 0 38px 40px;
  }

  .main-catalog__box-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-catalog__item-wrapper {
    width: 100%;
    padding-top: 0;
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .main-catalog__title-link {
    display: flex;
    width: 140px;
    margin-bottom: 18px;
  }

  .main-catalog__title {
    display: flex;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .main-catalog__description-table {
    margin-bottom: 32px;
  }

  .main-catalog__value {
    font-size: 16px;
  }

  .main-catalog__parametr {
    padding: 8px 0 7px;
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .main-catalog__box {
    width: 169px;
  }

  .main-catalog__img-link {
    width: 245px;
  }

  .main-catalog__img-link--small img {
    max-width: 245px;
  }

  .main-catalog__img-link--big img {
    max-width: 245px;
  }

  .main-catalog__item {
    margin-right: 80px;
    margin-bottom: 150px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
