.main-catalog__wrapper {
  width: 320px;
  margin: 0 auto;
}

.main-catalog__box {
  padding: 0 20px;
}

.main-catalog__list {
  @include reset ();
}


.main-catalog__item {
  padding-bottom: 24px;
  border-bottom: 1px solid #ededed;
}

.main-catalog__box-wrapper {
  display: flex;
}

.main-catalog__item-wrapper {
  width: 140px;
  padding-top: 21px;
}

.main-catalog__img-link {
  width: 140px;
  height: 144px;
}

.main-catalog__title-link {
  display: block;
  width: 80px;
  margin-bottom: 10px;
  text-decoration: none;
}

.main-catalog__description-table {
  width: 100%;
  font-family: "Arial", sans-serif;
}

.main-catalog__value {
  text-align: right;
}

.main-catalog__title {
  margin: 0;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.main-catalog__parametr,
.main-catalog__value {
  padding: 0;
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  color: #444444;
}

.main-catalog__link {
  font-size: 16px;
  line-height: 20px;
}

@media (min-width: 768px) {
  .main-catalog__wrapper {
    width: 708px;
    padding: 0 30px;
  }

  .main-catalog__list {
    display: flex;
    flex-wrap: wrap;
  }

  .main-catalog__item {
    background-color: #f2f2f2;
    margin-right: 58px;
    margin-bottom: 140px;
    padding-bottom: 0;
    text-align: center;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .main-catalog__img-link {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .main-catalog__img-link--small {
    width: 161px;
    height: 172px;
    margin-top: -46px;
  }

  .main-catalog__img-link--small img {
    max-width: 324px;
  }

  .main-catalog__img-link--big img {
    max-width: 324px;
  }

  .main-catalog__img-link--big {
    width: 195px;
    height: 206px;
    margin-top: -80px;
  }

  .main-catalog__box {
    display: flex;
    flex-direction: column;
    width: 249px;
    padding: 0 38px 40px;
  }

  .main-catalog__box-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-catalog__item-wrapper {
    width: 100%;
    padding-top: 34px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .main-catalog__title-link {
    width: 140px;
    margin-bottom: 18px;
  }

  .main-catalog__title {
    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }

  .main-catalog__description-table {
    margin-bottom: 31px;
  }

  .main-catalog__value {
    font-size: 16px;
  }

  .main-catalog__parametr {
    padding: 8px 0;
    font-size: 16px;
    text-align: left;
  }
}

@media (min-width: 1440px) {
  .main-catalog__wrapper {
    width: 1220px;
    padding: 0 110px;
  }

  .main-catalog__box {
    width: 169px;
  }

  .main-catalog__img-link {
    width: 100%;
  }

  .main-catalog__img-link--small img {
    max-width: 245px;
  }

  .main-catalog__img-link--big img {
    max-width: 245px;
  }

  .main-catalog__item {
    margin-right: 80px;
    margin-bottom: 150px;

    &:nth-child(2n) {
      margin-right: 80px;
    }

    &:nth-child(4n) {
      margin-right: 0;
    }
  }
}
