.main-footer {
  background-color: #f2f2f2;
}

.main-footer__wrapper {
  width: 280px;
  margin: 0 auto;
  padding: 0 20px;
}

.main-footer___logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 94px;
  border-bottom: 1px solid #d9d9d9;
}

.footer__list {
  border-bottom: 1px solid #d9d9d9;
}

@media (min-width: 768px) {
  .main-footer__wrapper {
    width: 708px;
    margin: 0 auto;
    padding: 58px 30px;
    display: flex;
  }

  .main-footer___logo {
    height: 24px;
    margin-right: 151px;
  }

  .footer__list {
    width: 124px;
    margin-right: 138px;
  }

  .footer__copyright {
    margin-left: auto;
  }
}

@media (min-width: 1220px) {
  .main-footer__wrapper {
    width: 1220px;
    padding: 50px 110px;
    margin: 0 auto;
  }

  .main-footer___logo {
    height: 24px;
    margin-right: 412px;
  }
}
