
.main-header__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.main-header__top {
  border-bottom: 1px solid #e6e6e6;
}

.main-header__logo {
  display: block;
  width: 191px;
  height: 38px;
  padding-top: 12px;
  padding-bottom: 15px;
}

.main-header__wrapper a[href] {
  &:hover,
  &:focus {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

@media (min-width: 768px) {
  .main-header {
    min-height: 59px;
    border: none;
  }

  .main-header__column {
    display: flex;
    justify-content: space-between;
    width: 708px;
    padding: 24px 30px 0;
    margin: 0 auto;
  }

  .main-header__top {
    border: none;
  }

  .main-header__wrapper {
    width: 174px;
    padding: 0;
  }

  .main-header__logo {
    height: 58px;
    width: 174px;
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .main-header {
    position: relative;
  }
  .main-header__column {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 1220px;
    padding: 53px 110px 0;
    margin: 0 auto;
    z-index: 100;
  }

  .main-header__wrapper {
    width: 203px;
  }

  .main-header__logo {
    height: 59px;
    width: 203px;
  }

  .main-header__logo img {
    width: 203px;
  }
}
