.programms__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.programms__list {
  @include reset ();
}

.programms__item {
  margin-bottom: 20px;
  padding-top: 30px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  background: #f2f2f2;
}

.programms__heading {
  margin: 0 0 30px 0;
  text-align: center;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.programms__description {
  margin: 0 0 30px 0;
  padding-bottom: 20px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.programms__link {
  margin: 0;
  padding: 20px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }
}

@media (min-width: 768px) {
  .programms {
    margin-bottom: 40px;
  }

  .programms__wrapper {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .programms__item {
    min-height: 240px;
    margin-bottom: 32px;
    padding: 73px 280px 60px 52px;
  }

  .programms__heading {
    margin-bottom: 28px;
    font-size: 36px;
    line-height: 37px;
    text-align: left;
  }

  .programms__description {
    margin-bottom: 36px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programms__link {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
  }
}

@media (min-width: 1440px) {
  .programms {
    margin-bottom: 43px;
  }

  .programms__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .programms__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programms__item {
    width: 468px;
    padding-right: 52px;
    margin-right: 76px;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .programms__heading {
    margin-bottom: 79px;
    padding-left: 160px;
  }

  .programms__description {
    margin-bottom: 9px;
  }
}
