.programms {
  margin-bottom: 18px;
}

.programms__wrapper {
  width: 280px;
  padding: 0 20px;
  margin: 0 auto;
}

.programms__list {
  @include reset ();
}

.programms__item {
  position: relative;
  margin-bottom: 20px;
  padding: 30px 20px 17px;
  background: #f2f2f2;

  &:last-child {
    margin-bottom: 0;
  }
}

.programms__item::before {
  content: "";
  position: absolute;
  top: 24px;
  left: 23px;
  width: 50px;
  height: 50px;
  background: #68b738;
  border-radius: 50%;
}

.programms__item::after {
  content: "";
  position: absolute;
}

.programms__item--loose::after {
  top: 22px;
  left: 25px;
  width: 50px;
  height: 49px;
  background: url("../img/icon-cat-slim.svg") 5px 0 no-repeat;
}

.programms__item--get::after {
  top: 35px;
  left: 14px;
  width: 67px;
  height: 28px;
  background: url("../img/icon-cat-pro.svg") 0 0 no-repeat;
}

.programms__heading {
  margin: 0 0 30px 0;
  padding-left: 72px;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.programms__description {
  margin: 0 0 15px 0;
  padding-bottom: 22px;
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: #444444;
  border-bottom: 1px solid #d9d9d9;
}

.programms__link {
  position: relative;
  margin: 0;
  padding: 20px 0;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  color: #111111;
  text-decoration: none;
  text-transform: uppercase;

  &:active {
    opacity: 0.3;
  }

  &:hover::after,
  &:focus::after {
    width: 33px;
    height: 12px;
    right: -44px;
    background: url("../img/icon-right-arrow-verylong.svg") 0 0 no-repeat;
  }

  &:active::after {
    opacity: 0.3;
  }
}

.programms__link::after {
  content: "";
  position: absolute;
  right: -36px;
  top: 25px;
  width: 25px;
  height: 12px;
  background: url("../img/icon-right-arrow-long.svg") 0 0 no-repeat;
}

@media (min-width: 768px) {
  .programms {
    margin-bottom: 45px;
  }

  .programms__wrapper {
    width: 708px;
    padding: 0 30px;
    margin: 0 auto;
  }

  .programms__item {
    min-height: 240px;
    margin-bottom: 32px;
    padding: 74px 280px 56px 52px;
  }

  .programms__item--get {
    padding-right: 312px;
  }

  .programms__item::before {
    top: 92px;
    left: 446px;
    width: 200px;
    height: 200px;
  }

  .programms__item--loose::after {
    top: 77px;
    left: 471px;
    width: 145px;
    height: 194px;
    background: url("../img/icon-cat-slim.svg") 5px 0 no-repeat;
  }

  .programms__item--get::after {
    top: 135px;
    left: 412px;
    width: 268px;
    height: 113px;
    background: url("../img/icon-cat-pro.svg") 0 0 no-repeat;
  }

  .programms__heading {
    margin-bottom: 27px;
    padding-left: 0;
    font-size: 36px;
    line-height: 37px;
    text-align: left;
  }

  .programms__description {
    margin-bottom: 32px;
    font-size: 16px;
    line-height: 24px;
    border: none;
  }

  .programms__link {
    padding: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;

    &::after {
      top: 10px;
      right: -47px;
    }

    &:hover::after,
    &:focus::after {
      width: 33px;
      height: 12px;
      right: -55px;
    }
  }
}

@media (min-width: 1440px) {
  .programms {
    margin-bottom: 74px;
  }

  .programms__wrapper {
    width: 1220px;
    padding: 0 110px;
    margin: 0 auto;
  }

  .programms__list {
    display: flex;
    flex-wrap: wrap;
  }

  .programms__item {
    width: 468px;
    padding-right: 52px;
    margin-right: 76px;
    margin-bottom: 0;

    &:nth-child(2n) {
      margin-right: 0;
    }
  }

  .programms__item::before {
    top: 45px;
    left: 52px;
    width: 100px;
    height: 100px;
  }

  .programms__item--loose::after {
    top: 39px;
    left: 61px;
    width: 74px;
    height: 97px;
    background: url("../img/icon-cat-slim.svg") 5px 0 no-repeat;
  }

  .programms__item--get::after {
    top: 67px;
    left: 35px;
    width: 134px;
    height: 57px;
    background: url("../img/icon-cat-pro.svg") 0 0 no-repeat;
  }

  .programms__heading {
    margin-bottom: 75px;
    padding-left: 162px;
  }

  .programms__description {
    margin-bottom: 9px;
  }
}
