
@font-face {
  font-weight: 400;
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src:url("../fonts/oswaldregular.woff2") format("woff2"),
    url("../fonts/oswaldregular.woff") format("woff");
}

@font-face {
  font-weight: 500;
  font-family: "Oswald";
  font-style: normal;
  font-display: swap;
  src:url("../fonts/oswaldmedium.woff2") format("woff2"),
    url("../fonts/oswaldmedium.woff") format("woff");
}

body {
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.btn-global {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #68b738;
  text-align: center;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;

  &:hover,
  &:focus {
    background-color: #5eaa2f;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }
}

img {
  max-width: 100%;
  height: auto;
}
