.set-program {
  background: url("../img/index-can-mobile@1x.png")  no-repeat center bottom 58px, url("../img/index-background-mobile@1x.jpg") no-repeat center 0;
  margin-bottom: 22px;
}

.set-program__wrapper {
  padding: 29px 20px 0;
}

.set-program__heading {
  margin: 0;
  margin-bottom: 20px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.set-program__slogan {
  margin: 0 0 300px 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}


@media (min-width: 768px) {
  .set-program {
    background: url("../img/index-can-tablet@1x.jpg")  no-repeat center bottom ;
    min-height: 869px;
    margin-bottom: 0;
  }
  .set-program__wrapper {
    padding: 60px 162px 0 120px;
  }
  .set-program__heading {
    width: 485px;
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    font-weight: 400;
    color: #111111;
  }

  .set-program__slogan {
    margin-bottom: 46px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
}

  .set-program__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    padding: 15px 20px;
   }
}

@media (min-width: 1220px) {
  .set-program {
    background: url("../img/index-can-desktop@1x.png")  no-repeat 560px 30px;
    min-height: 583px;
    margin-bottom: 80px;
  }
  .set-program__wrapper {
    padding: 110px 760px 0 191px;
  }

  .set-program__heading {
    font-size: 60px;
    line-height: 60px;
  }

  .set-program__slogan {
    margin-bottom: 53px;
  }
}
