* {
  outline: 1px solid red;
}

.set-program {
  position: relative;
  margin-bottom: 22px;

  &::before {
    content: "";
    position: absolute;
    top:0;
    left: 50%;
    margin-left: -160px;
    right: 0;
    bottom: 0;
    z-index: -1;
    width: 320px;
    height: 64%;
    background: url("../img/index-background-mobile@1x.jpg") no-repeat center 0 #63a73a;
    background-size: cover;
  }
}

.set-program__wrapper {
  padding-top: 29px;
  background: url("../img/index-can-mobile@1x.png")  no-repeat center bottom 43px;
  background-size: 280px auto;
}



@media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
  .set-program {
    background-image: url("../img/index-can-mobile@2x.png"), url("../img/index-background-mobile@2x.jpg");
    background-size: 280px auto, 320 auto;
  }
}

.set-program__heading {
  margin: 0;
  margin-bottom: 23px;
  text-align: center;
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  color: #ffffff;
}

.set-program__slogan {
  margin: 0 0 305px 0;
  text-align: center;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
}


@media (min-width: 768px) {
  .set-program {
    min-height: 869px;
    margin-bottom: 0;
    background: none;

    &::before {
      content: none;
    }
  }

  .set-program__wrapper {
    padding: 58px 160px 530px 88px;
    background: url("../img/index-can-tablet@1x.jpg")  no-repeat center bottom;

  }

  @media (min-resolution: 144dpi), (min-resolution: 1.5dppx) {
    .set-program {
      background-image: url("../img/index-can-tablet@2x.jpg");
      background-size: 709px auto;
    }
  }

  .set-program__heading {
    margin-bottom: 40px;
    font-size: 60px;
    line-height: 60px;
    text-align: left;
    font-weight: 400;
    color: #111111;
  }

  .set-program__slogan {
    margin-bottom: 47px;
    font-size: 20px;
    line-height: 20px;
    text-align: left;
    color: #111111;
  }

  .set-program__link {
    display: inline-block;
    vertical-align: middle;
    font-size: 20px;
    line-height: 20px;
    padding: 16px 27px;
  }
}

@media (min-width: 1440px) {
  .set-program {
    position: static;
    min-height: 583px;
    margin-bottom: 80px;


    &::after {
      content: "";
      position: absolute;
      top:0;
      right: 0;
      z-index: -1;

      width: 50%;
      height: 100%;
      background: url("../img/index-background-desktop@1x.jpg") no-repeat right  top #63a73a;
      background-size: cover;

    }
  }

  .set-program__wrapper {
    margin: 0 auto;
    padding: 110px 650px 150px 78px;
    background: url("../img/index-can-desktop@1x.png")  no-repeat left 450px  top 30px;
    background-size: 552px auto;
  }

  .set-program__heading {
    font-size: 60px;
    line-height: 60px;
  }

  .set-program__slogan {
    margin-bottom: 53px;
  }
}
