.show-all {
  position: relative;
  padding-top: 80px;
  padding-bottom: 24px;
}

.show-all::before {
  content: "";
  position: absolute;
  left: 145px;
  top: 41px;
  width: 31px;
  height: 2px;
  background-color: #d3d3d3;
}

.show-all::after {
  content: "";
  position: absolute;
  left: 145px;
  top: 41px;
  width: 31px;
  height: 2px;
  background-color: #d3d3d3;
  transform: rotate(90deg);
}

.show-all__box {
  padding: 0 20px;
}

.show-all__heading {
  margin: 0 0 7px;
  text-align: center;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.show-all__slogan {
  margin: 0 0 22px;
  text-align: center;
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
}

.show-all__link {
  display: block;
  padding: 10px;
  background-color: #f2f2f2;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  color: #444444;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  &:hover,
  &:focus {
    background-color: #ebebeb;
  }

  &:active {
    color: rgba(68, 68, 68, 0.3);
  }
}

@media (min-width: 768px) {
  .show-all {
    width: 249px;
    padding: 164px 37px 40px;
    border: 1px solid #cdcdcd;
    background-color: #ffffff;
  }

  .show-all::before {
    left: 132px;
    top: 84px;
    width: 60px;
    height: 2px;
  }

  .show-all::after {
    left: 132px;
    top: 83px;
    width: 60px;
    height: 2px;
  }

  .show-all__heading {
    font-size: 20px;
    padding: 0 40px;
    margin-bottom: 28px;
  }

  .show-all__slogan {
    padding: 0 40px;
    margin-bottom: 85px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
  }

  .show-all__box {
    padding: 0;
  }
}

@media (min-width: 1440px) {
  .show-all {
    width: 169px;
    padding-top: 159px;
    background-color: #ffffff;
    border: 1px solid #e7e7e7;
  }

  .show-all::before {
    left: 92px;
    top: 80px;
  }

  .show-all::after {
    left: 92px;
    top: 80px;
  }

  .show-all__heading {
    font-size: 20px;
    padding: 0;
  }

  .show-all__slogan {
    padding: 0;
    margin-bottom: 90px;
    font-family: "Arial", sans-serif;
    font-size: 16px;
  }
}
